<!--This class uses Twitter Bootstrap Jumbotron style. This first section is the responsive navigation bar-->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Create</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<!-- Main container to hold all components -->
<div class="container">
  <div class="jumbotron">
      <app-book-list></app-book-list>
      <app-book-detail></app-book-detail>
      <app-book-form></app-book-form>
  </div>
</div>

<router-outlet></router-outlet>

